@model MVC.ViewModels.RolesViewModel

@{
    ViewData["Title"] = "";
}

<h2>@Model.Message</h2>

<br><a href="https://localhost:44345/dev/DevPage" class="link-warning">/Dev/DevPage</a>
<br>
<br>
<br>

<form asp-controller="Roles" asp-action="SearchFilter" method="post">
    <div class="mb-3">
        <input type="hidden" asp-for="jsonSerializeStringPlaceholder1" value="@Html.Raw(Json.Serialize(Model.ListOfRoles))" />
        <input class="form-control" asp-for="SearchPhrase" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<br>
<br>

<!-- The form that remove buttons will use -->
<form id="remove" asp-controller="Roles" asp-action="RemoveRole" method="post">
    <input type="hidden" asp-for="jsonSerializeStringPlaceholder1" value="@Html.Raw(Json.Serialize(Model.ListOfRoles))" />
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <form asp-controller="Roles" asp-action="Sort" method="post">
                    <input type="hidden" asp-for="jsonSerializeStringPlaceholder1" value="@Html.Raw(Json.Serialize(Model.ListOfRoles))" />
                    <input type="hidden" asp-for="SortAlphabetically" value="@Model.SortAlphabetically" checked />
                    <button type="submit" class="btn btn-primary">Sort</button>
                </form>
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.ListOfRoles.Count; i++)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@Model.ListOfRoles[i].Name</td>
                <td>
                    <span class="table-remove">
                        <button type="submit"
                                name="Id"
                                value="@Model.ListOfRoles[i].Id"
                                form="remove"
                                class="form-control btn btn-danger mb-2">
                            Remove
                        </button>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<br>
<br>

<form asp-controller="Roles" asp-action="AddRole" method="post">
    <input type="hidden" asp-for="jsonSerializeStringPlaceholder1" value="@Html.Raw(Json.Serialize(Model.ListOfRoles))" />
    <div class="mb-3">
        <label class="form-label">Create role:</label>
        <input class="form-control" asp-for="NewRoleName" />
        <span asp-validation-for="NewRoleName"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add role</button>
</form>

<br>
<br>


