@model MVC.ViewModels.TokenViewModel


@{ViewData["Title"] = "";}

<a href="https://localhost:44345/dev/DevPage" class="link-warning">/Dev/DevPage</a>
<br><br>


<h5>Only cookies in this (browser) session can be read</h5>

<br>
<br>
<h5>InMemoryTokenRepo latest update= @Model.TimeStampLatestUpdate </h5>
<br>
<br>
<h5>AccessToken lifetime left (%) = @Model.AccessTokenLifeLeftPercent</h5>

<h5>IdToken lifetime left (%) = @Model.IdTokenLifeLeftPercent</h5>
<br>
<br>

<h5>Access token header:</h5>
<br>
<pre>
    @Html.Raw(Model.AccessTokenHeader)
</pre>

<h5>Access token payload:</h5>
<br>
<pre>
    @Html.Raw(Model.AccessTokenPayload)
</pre>

<h5>Timestamps as datetime:</h5>
<br>
<p>nbf = @Model.AccessToken_nbf</p>
<p>exp = @Model.AccessToken_exp</p>
<p>auth_time = @Model.AccessToken_nbf</p>
<br>
<hr>

@*              #########################                    *@

<h5>Id token header:</h5>
<br>
<pre>
    @Html.Raw(Model.IdTokenHeader)
</pre>

<h5>Id token payload:</h5>
<br>
<pre>
    @Html.Raw(Model.IdTokenPayload)
</pre>

<h5>Timestamps as datetime:</h5>
<br>
<p>nbf = @Model.IdToken_nbf</p>
<p>exp = @Model.IdToken_exp</p>
<p>auth_time = @Model.IdToken_auth_time</p>
<br>
<hr>

@*              #########################                    *@

<h5>Refresh token code:</h5>
<br>
<pre>
    @Model.RefreshTokenCode
</pre>