@model MVC.ViewModels.SecretMessageViewModel

<a href="https://localhost:44345/dev/DevPage" class="link-warning">/Dev/DevPage</a>
<br>
<a href="https://localhost:44345/Dev/Token" class="link-warning">/Dev/Token</a>

@{ ViewData["Title"] = "";}

<br>
<br>
@Model.SecretMessage
<br>
<br>





@*Extra troubleshooting stuff, in case we are unlucky :)
    httpResponseMessage = @Model.httpResponseMessage


    <br>
    <br>
    httpResponseMessage = @Model.httpResponseMessage
    <br>
    <br>
    httpResponseMessage.Content = @Model.httpResponseMessage.Content
    <br>
    <br>
    httpResponseMessage.Headers = @Model.httpResponseMessage.Headers
    <br>
    <br>
    httpResponseMessage.IsSuccessStatusCode = @Model.httpResponseMessage.IsSuccessStatusCode
    <br>
    <br>
    httpResponseMessage.ReasonPhrase = @Model.httpResponseMessage.ReasonPhrase
    <br>
    <br>
    httpResponseMessage.RequestMessage = @Model.httpResponseMessage.RequestMessage
    <br>
    <br>
    httpResponseMessage.StatusCode = @Model.httpResponseMessage.StatusCode
    <br>
    <br>
    httpResponseMessage.TrailingHeaders = @Model.httpResponseMessage.TrailingHeaders
    <br>
    <br>
    httpResponseMessage.Version = @Model.httpResponseMessage.Version*@

